<a href="https://colab.research.google.com/github/SrikariMalladi/MACHINE-LEARNING-lab-task--1/blob/main/ml_labb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Srikari malladi
Cse A
AP21110010036
**bold text**

1. Write a Pandas program to convert Series of lists to one Series.

In [1]:
import pandas as pd
data = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])
result = data.explode()
print(result)

0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

2. Write a Pandas program to create a subset of a given series based on value and condition.

In [ ]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50])
condition = data > 30
subset = data[condition]
print(subset)

3    40
4    50
dtype: int64

3. Write a Pandas program to display most frequent value in a given series and replace
everything else as &#39;Other&#39; in the series.

In [ ]:
import pandas as pd
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent_value = data.mode()[0]
data.loc[data != most_frequent_value] = 'Other'
print(data)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

4. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.

In [ ]:
import pandas as pd
data = pd.Series([1, 5, 10, 15, 20, 25, 30])
positions = data[data % 5 == 0].index
print("Positions of numbers that are multiples of 5:", positions)

Positions of numbers that are multiples of 5: Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

5. Write a Pandas program to calculate the number of characters in each word in a given
series.

In [ ]:
import pandas as pd
data = pd.Series(['apple', 'banana', 'cherry', 'date'])
word_lengths = data.str.len()
print(word_lengths)

0    5
1    6
2    6
3    4
dtype: int64

6. Write a Pandas program to convert year-month string to dates adding a specified day
of the month.

In [ ]:
import pandas as pd
year_month_strings = pd.Series(['2022-01', '2022-02', '2022-03'])
day_of_month_to_add = 15
dates_with_added_day = pd.to_datetime(year_month_strings + '-' + str(day_of_month_to_add), format='%Y-%m-%d')
print(dates_with_added_day)

0   2022-01-15
1   2022-02-15
2   2022-03-15
dtype: datetime64[ns]

7. Write a Pandas program to create and display a DataFrame from a specified
dictionary data which has the index labels.

In [2]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'Siri', 'kanna'],
    'Age': [22, 30, 25],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
index_labels = ['Person1', 'Person2', 'Person3']
df = pd.DataFrame(data, index=index_labels)
print(df)

           Name  Age         City
Person1  Seekaa   22     New York
Person2    Siri   30  Los Angeles
Person3   kanna   25      Chicago

8. Write a Pandas program to select the rows where the number of attempts in the
examination is greater than 2.

In [3]:
import pandas as pd
data = {
    'Student': ['Seekaa', 'kanna', 'Siri', 'Lakshmi'],
    'Attempts': [1, 3, 2, 4]
}

df = pd.DataFrame(data)
result = df[df['Attempts'] > 2]
print(result)

   Student  Attempts
1    kanna         3
3  Lakshmi         4

9. Write a Pandas program to append a new row &#39;k&#39; to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [4]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'kanna', 'Siri'],
    'Age': [22, 30, 25],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
new_row_values = {'Name': 'krishna', 'Age': 28, 'City': 'Seattle'}
df = df.append(new_row_values, ignore_index=True)
print("\nDataFrame after appending 'k' row:")
print(df)
df = df.drop(index=df[df['Name'] == 'Krishna'].index)
print("\nOriginal DataFrame after deleting 'k' row:")
print(df)

Original DataFrame:
     Name  Age         City
0  Seekaa   22     New York
1   kanna   30  Los Angeles
2    Siri   25      Chicago

DataFrame after appending 'k' row:
      Name  Age         City
0   Seekaa   22     New York
1    kanna   30  Los Angeles
2     Siri   25      Chicago
3  krishna   28      Seattle

Original DataFrame after deleting 'k' row:
      Name  Age         City
0   Seekaa   22     New York
1    kanna   30  Los Angeles
2     Siri   25      Chicago
3  krishna   28      Seattle

<ipython-input-4-438fe3b289e1>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row_values, ignore_index=True)

10. Write a Pandas program to sort the DataFrame first by &#39;name&#39; in descending order,
then by &#39;score&#39; in ascending order.

In [5]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'Siri', ' kanna ', 'Lakshmi', 'Krishna'],
    'Score': [85, 92, 78, 90, 88]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_sorted = df.sort_values(by=['Name', 'Score'], ascending=[False, True])
print("\nDataFrame after sorting:")
print(df_sorted)

Original DataFrame:
      Name  Score
0   Seekaa     85
1     Siri     92
2   kanna      78
3  Lakshmi     90
4  Krishna     88

DataFrame after sorting:
      Name  Score
1     Siri     92
0   Seekaa     85
3  Lakshmi     90
4  Krishna     88
2   kanna      78

11. Write a Pandas program to replace the &#39;qualify&#39; column contains the values &#39;yes&#39; and
&#39;no&#39; with True and False.

In [6]:
import pandas as pd
data = {
    'Name': ['Seekaa', ' kanna ', ' Siri', 'Lakshmi', 'Krishna'],
    'Qualify': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})
print("\nDataFrame after replacing values:")
print(df)

Original DataFrame:
      Name Qualify
0   Seekaa     yes
1   kanna       no
2     Siri     yes
3  Lakshmi      no
4  Krishna     yes

DataFrame after replacing values:
      Name  Qualify
0   Seekaa     True
1   kanna     False
2     Siri     True
3  Lakshmi    False
4  Krishna     True

12. Write a Pandas program to remove infinite values from a given DataFrame.

In [ ]:
import pandas as pd
import numpy as np
data = {
    'A': [1, 2, np.inf, 4, 5],
    'B': [np.inf, 8, 9, 10, 11]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna()
print("\nDataFrame after removing infinite values:")
print(df)

Original DataFrame:
     A     B
0  1.0   inf
1  2.0   8.0
2  inf   9.0
3  4.0  10.0
4  5.0  11.0

DataFrame after removing infinite values:
     A     B
1  2.0   8.0
3  4.0  10.0
4  5.0  11.0

NUMPY s
Introduction to NumPy
NumPy is a Python library that handles numerical computation. It supports large, multidimensional arrays and matrices, as well as mathematical functions that can be applied to them. The efficiency and versatility of NumPy make it popular in scientific computing, data analysis, and machine learning.

1. Write a NumPy program to multiply two given arrays of same size element-by-element.

In [ ]:
import numpy as np
array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])
result_array = array1 * array2
print("Array 1:", array1)
print("Array 2:", array2)
print("Resultant Array (element-wise multiplication):", result_array)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Resultant Array (element-wise multiplication): [ 5 12 21 32]

2. Write a NumPy program to find the missing data in a given array.

In [ ]:
import numpy as np
data_array = np.array([1.0, 2.0, np.nan, 4.0, 5.0, np.nan, 7.0, 8.0])
missing_data_mask = np.isnan(data_array)
missing_data_indices = np.where(missing_data_mask)[0]
print("Original Array with Missing Data:", data_array)
print("Missing Data Mask:", missing_data_mask)
print("Indices of Missing Data:", missing_data_indices)

Original Array with Missing Data: [ 1.  2. nan  4.  5. nan  7.  8.]
Missing Data Mask: [False False  True False False  True False False]
Indices of Missing Data: [2 5]

3. Write a NumPy program to test whether each element of a 1-D array is also present in a second array.

In [ ]:
import numpy as np

# Create two arrays
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([3, 5, 7, 9, 11])
result = np.isin(array1, array2)
print("Array 1:", array1)
print("Array 2:", array2)
print("Result (Is each element of array1 present in array2?):", result)

Array 1: [1 2 3 4 5]
Array 2: [ 3  5  7  9 11]
Result (Is each element of array1 present in array2?): [False False  True False  True]

4 .Write a NumPy program to save a NumPy array to a text file.

In [ ]:
import numpy as np
my_array = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])
file_path = "output_array.txt"
np.savetxt(file_path, my_array, fmt='%d', delimiter=',')

print(f"Array has been saved to {file_path}")

Array has been saved to output_array.txt

5. Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.

In [ ]:
import numpy as np
result_array = np.linspace(2.5, 6.5, 30)
print("1-D Array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(result_array)

1-D Array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]